@import './reset.css';
*{
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;
}
body{
    background-image: url("./image/myawi.gif");
}

.header_container{
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
   }
   .header_container_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    

   }
   .header_container_img img{
    border-radius: 70%;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    
   }
   h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    padding-top: 20px;
    
}
   h2{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat';
    padding-top: 20px;
   }
   ul{
    list-style-type: none;
   padding: 0;
   }
   ul > li{
    border-radius: 50px;
    border: 1px solid #black;
    background-color:rgba(255, 255, 255, 0.3);
    margin-top:20px;
    width: 100%;
   }
   ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  
  }
  a{
    text-decoration: none;
    color:pink;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    
  }